


           <div class="top">
            
             
              <button class="btn btn-primary" (click)="resetForm()" ><i class="fa fa-user"></i>Nuevo Usuario</button>
     
           
        
          </div>
   
   
    <div  id="lado">
        <div class="form-control" *ngIf="estate==1">
          <div id="panelbodi"  class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="controNombre">Nombre</label>
                    <input type="text" [(ngModel)]="agregarUsuarios.nombre" class="form-control" placeholder="Nombre">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="controNombre">Apellido</label>
                    <input type="text" [(ngModel)]="agregarUsuarios.apellido" class="form-control" placeholder="Apellido">
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                        <label for="controNombre">Email</label>
                        <input type="text" [(ngModel)]="agregarUsuarios.email" class="form-control" placeholder="Email">
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                        <label for="controNombre">Contraceña</label>
                        <input type="text" [(ngModel)]="agregarUsuarios.password" class="form-control" placeholder="contraceña">
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <label id="inputs" for="idcategoria">Tipo de usuario</label>
                <select id="selec" name="select" [(ngModel)]="agregarUsuarios.admin">
    
                    <option type="text"  >cliente</option>
                     <option  type="text">administrador</option> 
                     <option  type="text">vendedor</option> 
                 
                 </select>
            </div>
                
          
         </div>
         <div id="boton" class="col-6">
            <button type="button" (click)="desactivarCreate()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button id="save" type="button" (click)="guardarUsuario()" class="btn btn-success" data-dismiss="modal">Save</button>
        </div>
        </div>
       
    </div>

                <table class="table table-striped">
                    <thead>
                       <th>Id</th>
                       <th>Nombre</th>
                       <th>Apellido</th>
                       <th>Email</th>
                       <th>Tipo de Usuario</th>
                       <th>Estado</th>
                       <td>*</td>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of clientes">
                            <td>{{item.id}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.apellido}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.admin}}</td>
                            <td>{{item.estado}}</td>
                            
                            <td >
                                <button id="eliminar" (click)="actualizarUsuario(item);desactivarCreate()" data-toggle="modal" data-target="#deleteItemModal" class="btn btn-primary">Eliminar</button>
                                <button  id="actualizar" (click)="actualizarUsuario(item);desactivarCreate()" data-toggle="modal" data-target="#contactModal"   class="btn btn-primary">Actualizar</button>
                           </td>
                           
           
                        </tr>
                    </tbody>
                </table>
       
         <!-- empiesa el mofdal para actualizar -->
    <div id="contactModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create / update Usuario</h4>
                </div>
                <div action="#" id="newContactForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="controNombre">Nombre</label>
                            <input type="text" [(ngModel)]="agregarUsuarios.nombre" class="form-control" placeholder="nombre categoria">
                        </div>
                          <div class="form-group">
                            <label for="controNombre">Apellido</label>
                            <input type="text" [(ngModel)]="agregarUsuarios.apellido" class="form-control" placeholder="nombre categoria">
                          </div>
                          <div class="form-group">
                            <label for="controNombre">Email</label>
                            <input type="text" [(ngModel)]="agregarUsuarios.email" class="form-control" placeholder="nombre categoria">
                          </div>
                        
                          <div class="form-group" *ngIf="agregarUsuarios.id">
                            <label for="controNombre">Estado</label>
                            <select id="selec" name="select" [(ngModel)]="agregarUsuarios.estado"  *ngIf="agregarUsuarios.id!=''">
                                <option *ngIf="agregarUsuarios.estado=='activo',else activar" selected>{{agregarUsuarios.estado}}</option>
                                <option type="text"  >inactivo</option>
                               
                                 <ng-template #activar>
                                    <option  type="text">activo</option> 
                                </ng-template> 
                             </select>
                         
                          </div>
                       
                    </div><!-- .modal-body -->
                    <div class="modal-footer">
                    <button type="button"  class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" (click)="guardarUsuario()" class="btn btn-success" data-dismiss="modal">Save</button>
                    </div><!-- .modal-footer -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
            <!-- termina el modal para actulizar -->
             <!-- delete item Modal -->
      <div id="deleteItemModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete item</h4>
                </div>
                <div class="modal-body">
                    <h5>Do you really want to delete this item ?</h5>
                </div><!-- .modal-body -->
                <div class="modal-footer">
                    <button type="button" (click)="eliminarUsuario()" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div><!-- .modal-footer -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- end content -->

  
  

