<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    
    
<link rel="shortcut icon" href="assets/public/principal/images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/public/principal/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/public/principal/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/public/principal/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/public/principal/images/ico/apple-touch-icon-57-precomposed.png">



            
<link  href="/assets/public/principal/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/public/principal/css/font-awesome.min.css" rel="stylesheet">
<link href="/assets/public/principal/css/prettyPhoto.css" rel="stylesheet">
<link href="/assets/public/principal/css/price-range.css" rel="stylesheet">
<link href="/assets/public/principal/css/animate.css" rel="stylesheet">
<link href="/assets/public/principal/css/main.css" rel="stylesheet">
<link href="/assets/public/principal/css/responsive.css" rel="stylesheet">

    
 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    
    <![endif]-->       

</head><!--/head-->

    


<body>

   
              <app-header></app-header>
    

            
            <!-- <section>
                aqui
            </section> -->
            <app-seccion-pricipal></app-seccion-pricipal>

            <app-footer></app-footer>


            <!-- <footer>
                aqui
            </footer> -->
	

    <!-- <script src="assets/public/js/jquery.min.js"></script> -->
    

    <script src="assets/public/principal/js/jquery.js"></script>
    <script src="assets/public/principal/js/bootstrap.min.js"></script>
    <script src="assets/public/principal/js/jquery.scrollUp.min.js"></script>
      <script src="assets/public/principal/js/price-range.js"></script>
    <script src="assets/public/principal/js/jquery.prettyPhoto.js"></script>
    <script src="assets/public/principal/js/main.js"></script>

</body>
</html>
